#projectChartDisplay {

}

.listCard {
  width: 100%;
  display: block;
}

.lineTime[type="text"] {
  width: 30%;
  margin: 0;
  display: inline-block;
}

.projectWrapper {
  @include outer-container;
}

.listColumn1, .listColumn2 {
	@include span-columns(6);
}

#taskCharts {
	@include span-columns(6);
}

#taskLists {
	@include span-columns(12);
	span {
		margin-top: 5px;
	}
}

#dailyUpdate {
	input[type="text"] {
		width: 10%;
		text-align: center;
		display: inline;
	}
}

.setTasksTable {
	padding: 0;
	margin: 0;
	width: 100%;
	td {
		padding: 0;
		text-align: center;
	}
}
