 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../base/grid-settings';
@import '../../base/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'd3styles';
@import 'singleProjectStyles';

// Custom Styles
/*body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 50px auto 0 auto;
  width: 1000px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  #loginSection {
    width: 400px;
  }
}
*/
.projectWrapper {
  @include outer-container;
}
li {
  list-style-type: none;
}
.block {
  @include span-columns(4);
  @include omega(3n);
}

.projectCard {
  border: 1px solid #71A8A2;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin-bottom: 15px;
}
.hours {
  color: #D33F2A;
  font-size: 30px;
}