 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../base/grid-settings';
@import '../../base/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'd3styles';
@import 'singleProjectStyles';
@import 'cardStyles';
@import 'navBarStyles';
@import 'textures';

// Custom Styles
/*body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 50px auto 0 auto;
  width: 1000px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  #loginSection {
    width: 400px;
  }
}
*/
.projectWrapper {
  @include outer-container;
}
.half {
  @include span-columns(6);
}
li {
  list-style-type: none;
}
.block {
  @include span-columns(4);
  @include omega(3n);
}

.projectCard {
  border: 1px solid #71A8A2;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin-bottom: 15px;
}
.hours {
  color: #D33F2A;
  font-size: 30px;
}
/* ====================== Textures ====================== */
.texture {
  height: 5em;
  width: 100%;
}

.texture-normal {
  @include texture(180deg, lighten(#40526B, 1), darken(#40526B, 10), 19, 1); /* gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal */ 
  float: left;
  height: 5em;
  width: 50%;
}

.texture-inverted {
  @include texture(180deg, lighten(#40526B, 1), darken(#40526B, 10), 19, 0); /* gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal  */
  float: left;
  height: 5em;
  width: 50%;
}
/* ==================== end Textures ==================== */