<div class="cover">		
		<div class="side-image">
		  <div class="images-wrapper"></div>
		    <div class="content">
			    <div id="loginWrapper">
			<div id="loginSection">
				<form id="loginForm" ng-submit="register(user)">
					<h2 style="color:HSLA(355, 75%, 31%, 1)">Create New Account</h2>
					<input ng-model="user.username" type="text" placeholder="Username">
					<input ng-model="user.email" type="text" placeholder="Email">
					<input ng-model="user.password" type="password" placeholder="Password">
					<button class="button">Register</button>
				</form>
				<a href="#/login">Already have an account?</a><br>
				<a href="#">Forgot Password?</a>
			</div>
		</div>
			</div></div></div></div>