<div ng-controller="MainModalControl">
	<h3>Add A New Project</h3>
	<form ng-submit="addProject(project)">

		<input id="projectTitle" ng-model="project.title" type="text" placeholder="Add title for your project:">
		<input id="projectHours" ng-model="project.hours" type="text" placeholder="Expected number of hours to completion:">
		<input id="projectWeeks" ng-model="project.weeks" type="text" placeholder="Expected number of weeks to completion:">
    <input id="projectCategory" ng-model="project.category" type="text" placeholder="Category (for your own reference)">
		<div class="button-group">
			How would you like to track your weeks? {{ project.wklength }}<br>
      <button type="button" class="button" ng-model="project.wklength" btn-radio="5">5 Day Week</button>
      <button type="button" class="button" ng-model="project.wklength" btn-radio="7">7 Day Week</button>
    </div>
    <div class="button-group">
      What is your confidence level for this project? {{ project.confidence }}<br>
      <button type="button" class="button" ng-model="project.confidence" btn-radio="'1'">1</button>
      <button type="button" class="button" ng-model="project.confidence" btn-radio="'2'">2</button>
      <button type="button" class="button" ng-model="project.confidence" btn-radio="'3'">3</button>
      <button type="button" class="button" ng-model="project.confidence" btn-radio="'4'">4</button>
      <button type="button" class="button" ng-model="project.confidence" btn-radio="'5'">5</button>
    </div>
		<button>Build</button>
	</form>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>