<header class="navigation  texture-inverted">
	<div class="navigation-wrapper">
		<div class="nav">
			<ul id="navigation-menu">
				<li class="nav-link measureme"><a href="#/myconsole">measure.me</a></li>
				<li class="nav-link"><a>Welcome {{ user.username }}</a></li>
				<li class="nav-link"><a>Signed in as {{ user.email }}</a></li>
				<!-- <li class="nav-link"><a>{{ date }}</a></li> -->
			</ul>
		</div> <!-- end nav -->
		<div class="navigation-tools" ng-controller="MainModalControl">
			<div class="search-and-submit">
				<button style="background-color:#D53E2A" class="button" ng-click="logout()">Log Out</button>
			  <button class="button" ng-click="open()">Add Project</button>
			</div>
		</div>
	</div><!-- end nav wrapper -->
</header>


<div ng-controller="ProjectsControl" style="padding: 80px 20px 20px 20px">
	<div>
		<!-- <h3>My Projects:</h3> -->
		<ul class="cards">
			<li class="card" ng-repeat="project in projects" ng-click="clickProject(project)" id="{{ project.objectId }}">
				<div class="card-header">{{ project.title }}</div>
				<div class="card-copy">Category: <span style="font-weight:bold">{{ project.category }}</span></div>
				<div class="card-stats">
					<ul>
						<li>{{ project.hours }}<span>HOURS</span></li>
						<li>{{ project.weeks }}<span>WEEKS</span></li>
					</ul>
				</div>
			</li>
		</ul>
	</div> <!-- end card -->
</div>

<!--
<ul class="projectWrapper">
			<li class="card-copy projectCard block" ng-repeat="project in projects" ng-click="clickProject(project)" id="{{ project.objectId }}">
				{{ project.title }}<br>Expected to take {{ project.hours }} hours; <br>to be complete in {{ project.weeks }} weeks.
			</li>
		</ul> -->