<h3>My Console</h3>
<hr>
<h4>Welcome {{ user.username }}</h4> <button ng-click="logout()">Log Out</button>
<ul>
	<li>Your email is: {{ user.email }}</li>
	<li>Your session token is: {{ user.sessionToken }}</li>
</ul>
<hr>
<div ng-controller="MainModalControl">
  <button class="button" ng-click="open()">Add Project</button>
</div>

<div ng-controller="ProjectsControl">
	<p>This is where the user's projects go.</p>
	<ul ng-repeat="project in projects">
		<li>{{ project.title }} will take {{ project.hours }} hours; to be complete in {{ project.weeks }} weeks.</li>
	</ul>
</div>


