<button ng-click="consoleReturn()">Back to Console</button>
	<h2>{{ project.title }}</h2>
<div>
	<ul>
		<li>Expected number of weeks to completion: {{ project.weeks }} </li>
		<li>Project was created at {{ project.createdAt }}</li>
		<li>Expected number of total hours to completion: <span class="hours">{{ project.hours }}</span></li>
	</ul>
	<div ng-controller="ProjectChartsControl">

    <canvas tc-chartjs chart-type="line" chart-data="data" chart-options="options"></canvas>

  </div>
</div>
<div ng-controller="ListsControl">
	<ul id="newListTarget"></ul>
	<div>
	<h4>Lists:</h4>
		<ul class="projectWrapper">
			<li id="{{list.objectId}}" ng-repeat="list in lists" class="projectCard block" ng-click="clickList(list)">
				{{ list.title }} : 
				<div ng-controller="TasksControl"><span id="totalTarget"></span>
					<ul>
						<li ng-repeat="task in tasks | filter: { listId: list.objectId }">
							{{ task.title }} :
							<input class="lineTime" type="text" ng-model="task.value" placeholder="time"> 
						</li>
						<button class="targetButton" id="{{ list.objectId }}" ng-click="setTimes(tasks)">Set Times</button>
					</ul>
					<input class="toBeCleared" type="text" placeholder="Add New Task" ng-model="task.title">
					<button ng-click="addTask(task)">Add</button>
				</div> <!-- end TasksControl -->
				<button ng-click="deleteList(list.objectId, $index)">Delete</button>
			</li> <!-- end list in lists -->
		</ul> <!-- end projectWrapper -->
		<input class="toBeCleared" type="text" placeholder="Add New List" ng-model="list.title">
		<button ng-click="addList(list)">New List</button>
	</div>
</div> <!-- end ListsControl -->