<header class="navigation  texture-inverted">
	<div class="navigation-wrapper">
		<div class="nav">
			<ul id="navigation-menu">
				<li class="nav-link"><a>Welcome {{ user.username }}</a></li>
				<li class="nav-link"><a>Signed in as {{ user.email }}</a></li>
				<li class="nav-link"><a ng-click="logout()">Log Out</a></li>
			</ul>
		</div> <!-- end nav -->
		<div class="navigation-tools" ng-controller="MainModalControl">
			<div class="search-and-submit">
				<button class="button" ng-click="consoleReturn()">Back to Console</button>
			  <button class="button" ng-click="open()">Add Project</button>
			</div>
		</div>
	</div><!-- end nav wrapper -->
</header>

<div style="padding: 80px 20px 20px 20px" class="projectWrapper">
	<div class="half">
		<h3>{{ project.title }}</h3>
		<ul>
			<li>Expected number of weeks to completion: {{ project.weeks }} </li>
			<li>Project was created at {{ project.createdAt }}</li>
			<li>Expected number of total hours to completion: <span class="hours">{{ project.hours }}</span></li>
		</ul>
		<div id="projectChartDisplay" ng-controller="ProjectChartsControl">
		  <canvas tc-chartjs chart-type="line" chart-data="data" chart-options="options" width="300" height="200"></canvas>
		</div>
	</div>
	<div class="half" ng-controller="ListsControl">
		<div> <!-- 1 -->
			<div class="addNewList">
				<input class="toBeCleared" type="text" placeholder="Add New List" ng-model="list.title">
				<button class="button" ng-click="addList(list)">New List</button>
			</div>
			<div ng-controller="AccordionController">
				<accordion close-others="true">
					<!-- ================================ REPLICATING ================================ -->
					<accordion-group heading="{{ list.title }} || {{ list.hoursLeft }} of {{ list.totalHours }} hours remaining" id="{{ list.objectId }}" ng-repeat="list in lists" ng-click="clickList(list)">
						<ul>
							<li>
								<div ng-controller="TasksControl">
									<div class="taskWrapper">
										<div id="taskLists">
											<!-- ================================ SHOW FIRST ================================ -->
											<table ng-table class="setTasksTable table-minimal" ng-show="timeSet">
												<thead>
													<tr>
														<td><input class="toBeCleared" type="text" placeholder="Add New Task" ng-model="task.title"></td>
														<td><button class="button" ng-click="addTask(task)" stop-event>Add</button></td>
													</tr>
												</thead>
													<tbody>
													<tr ng-repeat="task in tasks">
														<td>{{task.title}} <a ng-click="deleteTask(task)" stop-event>[X]</a></td>
														<td><input class="toBeCleared" type="text" placeholder="Set Hours" ng-model="task.initialHours" stop-event></td>
													</tr>
													<tr>
														<td></td>
														<td><button class="button" ng-click="setInitialHours(tasks)" stop-event>Set Task Hours</button></td>
													</tr>
												</tbody>
											</table>
											<!-- ================================ HIDE FIRST ================================ -->
											<table ng-table class="setTasksTable table-minimal" ng-hide="timeSet">
												<thead>
													<tr><button class="tiny button" ng-click="goToEdit()" stop-event>Add/Edit Tasks</button></tr>
													<tr>
														<td>Task</td>
														<td>Hours Left</td>
														<td>Hours Completed Today</td>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="task in tasks">
														<td>{{ task.title }}</td>
														<td>
															<span ng-if="putHoursLeft(task)"> {{ task.hoursLeft }}</span>
															<span ng-if="hoursLeftComplete(task)" style="color:green">COMPLETE</span>
															<span ng-if="putInitialHours(task)"> {{ task.initialHours }}</span>
														</td>
														<td><input ng-if="!hoursLeftComplete(task)" class="toBeCleared hoursCompletedToday" type="text" placeholder="Hours Completed Today" ng-model="task.hoursToday" stop-event></td>
													</tr>
													<tr>
														<td><button class="button" style="background-color:#D53E2A" ng-click="deleteList(list.objectId, $index)" stop-event>Delete List</button></td>
														<td></td>
														<td><button class="button" ng-click="submitTodaysTimes(tasks)" stop-event>Submit</button></td>
													</tr>
												</tbody>
											</table>
										</div> <!-- end taskLists -->
										<!-- ================================ TASK LIST CHART ================================ -->
											<div ng-controller="TaskChartControl">
												<canvas tc-chartjs chart-type="line" chart-data="data" chart-options="options" width="400" height="300"></canvas>
										</div>
										<!-- ================================ end TASK LIST CHART ================================ -->
									</div> <!-- end taskWrapper -->
								</div> <!-- end TasksControl -->

								
							</li> <!-- end list in lists -->
						</ul> <!-- end projectWrapper -->
					</accordion-group>
					<!-- ================================  end REPLICATING ================================ -->
				</accordion>
			</div> <!-- end accordion controller -->
		</div> <!-- 1 -->
	</div> <!-- end ListsControl -->
</div>