<div ng-controller="MainModalControl">
	<h3>Add A New Project</h3>
	<form ng-submit="addProject(project)">

		<input id="projectTitle" ng-model="project.title" type="text" placeholder="Add a name for your title:">
		<input id="projectHours" ng-model="project.hours" type="text" placeholder="Expected number of hours to completion:">
		<input id="projectWeeks" ng-model="project.weeks" type="text" placeholder="Expected number of weeks to completion:">
		<div class="button-group">
			How would you like to track your weeks? {{ project.wklength }}<br>
      <button type="button" class="button" ng-model="project.wklength" btn-radio="'5 Day Weeks'">5 Day Week</button>
      <button type="button" class="button" ng-model="project.wklength" btn-radio="'7 Day Weeks'">7 Day Week</button>
    </div><br>
    <input id="projectCategory" ng-model="project.category" type="text" placeholder="Category (for your own reference)"><br>
		<a class="button split">
    	Split Button
   		<span dropdown-toggle="#dropdown-example-3"></span>
		</a>
  	<ul id="dropdown-example-3" class="f-dropdown">
    	<li ng-repeat="choice in items">
      <a>{{choice}}</a>
    	</li>
  	</ul><br>
		<button>Build</button>

	</form>
  <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>